<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido {{usuario.name}}  {{usuario.last_name}}</h1>
    <p>Se ha creado correctamente tu cuenta de acceso en nuestro sistema de Gestión Documentaria FIP</p>
    <p>Usuario: {{usuario.correo}}</p>
    <p>Contraseña: {{password}}
    <p>Inicia sesion <a href="https://fipdigital.info">aqui</a> y cambia tu contraseña por seguridad </p>
</body>
</html>