<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento compartido</title>
</head>
<body>
    <p>{{mensaje}}</p>
    <p style="font-size:x-small;">
    Archivo enviado desde:
    <ul style="font-size:x-small;">
    <li>correo: {{usuario.correo}}</li>
    <li>Nombre: {{usuario.name}}</li>
    <li>Apellido: {{usuario.last_name}}</li>
    </ul>
    </p>
</body>
</html>